{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>CMS</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap"
    />
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <nav
        class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark"
      >
        <div class="container-fluid d-flex flex-column p-0">
          <a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
            href="#"
          >
            <div class="sidebar-brand-icon">
              <i class="fas fa-list"></i>
            </div>
            <div class="sidebar-brand-text mx-3"><span>CMS</span></div>
          </a>
          <hr class="sidebar-divider my-0" />
        {% with request.resolver_match.url_name as url_name %}
        {% if user.is_staff %}
          <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link {% if url_name == 'AdminHome' %}active{% endif %}" href="{% url 'AdminHome' %}">
              <i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a
              >
            </li>
            <li class="nav-item"></li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'ReadAdminPolicy' %}active{% endif %}" href="{% url 'ReadAdminPolicy' %}">
              <i class="fas fa-table" style="font-size: 13px"></i
                ><span>Policy</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'ReadAdminClaim' %}active{% endif %}" href="{% url 'ReadAdminClaim' %}">
              <i class="fas fa-table" style="font-size: 13px"></i
                ><span>Claim</span></a
              >
            </li>
            {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link {% if url_name == 'logout' %}active{% endif %}" href="{% url 'logout' %}">
                <i class="fas fa-user-circle" style="font-size: 13px"></i
                ><span>Logout</span></a
              >
            </li>
          
            {% endif %}
    
          </ul>
        {% else  %}
          
          <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">
                <i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a
              >
            </li>
            <li class="nav-item"></li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'getpolicy' %}active{% endif %}" href="{% url 'getpolicy' %}">
                <i class="fas fa-table" style="font-size: 13px"></i
                ><span>Policy</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'getclaim' %}active{% endif %}" href="{% url 'getclaim' %}">

                <i class="fas fa-table" style="font-size: 13px"></i
                ><span>Claim</span></a
              >
            </li>
            {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link {% if url_name == 'logout' %}active{% endif %}" href="{% url 'logout' %}">

                <i class="fas fa-user-circle" style="font-size: 13px"></i
                ><span>Logout</span></a
              >
            </li>
          
            {% endif %}
          </ul>
          {% endif %}
          {% endwith %}
          <div class="text-center d-none d-md-inline">
            <button
              class="btn rounded-circle border-0"
              id="sidebarToggle"
              type="button"
            ></button>
          </div>
        </div>
      </nav>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <nav
            class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light"
          >
            <div class="container-fluid">
              <button
                class="btn btn-link d-md-none rounded-circle me-3"
                id="sidebarToggleTop"
                type="button">
                <i class="fas fa-bars"></i>
               </button>
               {% if not user.is_authenticated %}
                <a class="btn btn-primary shadow" role="button" href="{% url 'signup' %}">Sign up</a>
                <a class="btn btn-primary shadow" role="button" href="{% url 'login' %}"
                    style="margin-right: 10px;margin-left: 10px;">Sign in</a>
              {% else %}
              <ul class="navbar-nav flex-nowrap ms-auto">  
                  <span class="d-none d-lg-inline me-5  text-grey-300 text-lg">Claims Management System</span>
      
              </ul>
              {% endif %}
                <ul class="navbar-nav flex-nowrap ms-auto">  
                  {% if request.user.first_name %} 
                  
                    <div class="d-none d-sm-block topbar-divider" ></div>
                    <span class="d-none d-lg-inline me-5  text-gray-600 text-lg"
                    >{{request.user.first_name}}</span>
                  
                  {% endif %}
                </ul>
            </div>
          </nav>
          {% for message in messages %}
                <div class="alert alert-{{ message.tags}}" id="messagenoti" role="alert">
                    <strong>Notification: </strong>{{message}}
                </div>
          {% endfor %}
          {% block content %} 
          
        
          {% endblock %}
        </div>
        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center my-auto copyright">
              <span>Copyright © Brand 2024</span>
            </div>
          </div>
        </footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>var message_ele = document.getElementById("messagenoti");

      setTimeout(function(){ 
         message_ele.style.display = "none"; 
      }, 3000);</script>    
  </body>
</html>
