{% extends './common/base.html' %} 
{% load static %} 
{% block content %}
<div class="container-fluid">
  <div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Admin Dashboard</h3>
  </div>
  <div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card shadow border-start-primary py-2">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col me-2">
              <div class="text-uppercase text-primary fw-bold text-lg mb-1">
                <span>Total Count of Policies</span>
              </div>
              {% if admin_count_of_policys %}
              <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 2em;">{{admin_count_of_policys}}</span></div>
              {% else %}
              <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 2em;">0</span></div>
              {% endif %}
            </div>
            <div class="col-auto">
              <i class="fas fa-table fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card shadow border-start-success py-2">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col me-2">
              <div class="text-uppercase text-success fw-bold text-lg mb-1">
                <span>Total count of Claims</span>
              </div>
              {% if admin_count_of_claims %}
              <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 2em;">{{admin_count_of_claims}}</span></div>
              {% else %}
              <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 2em;">0</span></div>
              {% endif %}
            </div>
            <div class="col-auto">
              <i class="fas fa-table fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card shadow border-start-warning py-2">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col me-2">
              <div class="text-uppercase text-warning fw-bold text-lg mb-1">
                <span>Count of Accepted Claims</span>
              </div>
              {% if admin_accepted_claims %}
              <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 2em;">{{admin_accepted_claims}}</span></div>
              {% else %}
              <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 2em;">0</span></div>
              {% endif %}
            </div>
            <div class="col-auto">
              <i class="fas fa-check fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card shadow border-start-warning py-2">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col me-2">
              <div class="text-uppercase text-warning fw-bold text-lg mb-1">
                <span>Count of Rejected Claims</span>
              </div>
              {% if admin_rejected_claims %}
              <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 2em;">{{admin_rejected_claims}}</span></div>
              {% else %}
              <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 2em;">0</span></div>
              {% endif %}
            </div>
            <div class="col-auto">
              <i class="fas fa-times fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4">
      <div class="card shadow mb-4">
          <div class="card-header d-flex justify-content-between align-items-center">
              <h6 class="text-primary fw-bold m-0">Total Claims Overview</h6>
              <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
              </div>
          </div>
          <div class="card-body">
              <div class="chart-area"><canvas data-bss-chart="{&quot;type&quot;:&quot;doughnut&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Accepted&quot;,&quot;Rejected&quot;,&quot;Initiated&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;&quot;,&quot;backgroundColor&quot;:[&quot;#4e73df&quot;,&quot;#1cc88a&quot;,&quot;#36b9cc&quot;],&quot;borderColor&quot;:[&quot;#ffffff&quot;,&quot;#ffffff&quot;,&quot;#ffffff&quot;],&quot;data&quot;:[{{accepted_claims}},{{rejected_claims}},{{initiated_claims}}]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false,&quot;labels&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}},&quot;title&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}}}"></canvas></div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
